/* body {
    background: rgb(38, 44, 68);
}

main.container,
#links-wrapper {
    width: fit-content;
    margin: auto;
} */

h3,
h4 {
    padding: 2% 0 1%;
}

main a {
    /* color: rgb(122, 208, 255) !important; */
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(170deg, #215e5c 0%, #204f62 31%, #482967 100%);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
    flex-shrink: 0;
}

main,
main nav {
    --bs-nav-link-color: #7babee !important;
    --bs-link-rgb: #7babee !important;
    font-size: 1.1rem;
}

main {
    flex: 1 0 auto;
    margin: 0 auto;
    padding: 0 4%;
    --bs-bg-opacity: 0.9 !important;
}

main p,
main q,
main li,
main a {
    max-width: 85ch;
    font-size: 1.1rem;
}

figure {
    text-align: center;
}

#title {
    font-size: 3.5rem;
    font-weight: 900;
    background: white;
    background: url('/images/pride-rainbow-flag\ -\ Copy.jpg');
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.quotes-wrapper>span:nth-child(even) {
    position: relative;
    left: 30%;
}

.quote {
    font-size: 1.1rem;
    display: block;
    width: 70%;
    text-wrap: balance;
}

.quote q {
    font-style: italic;
    display: block;
}

.quote p {
    font-size: 1rem;
}


/* #index-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 3rem 0;
}

#index-links div {
    width: 40%;
    text-align: center;
    padding: 1rem;
    background: rgba(200, 201, 202, 0.1)
}

#index-links div a {
    width: 100%;
} */

.covers {
    width: 20%;
    max-width: 120px;
    margin: 0 2% 1% 0;
    box-shadow: 4px 4px 4px #111;
    border: 1px solid #ccc;
}

.hero {
    max-height: 350px;
    max-width: 100%;
    object-fit: cover;
    border: 1px solid white;
    box-shadow: 0px 1px 8px black;
}

#links-wrapper details {
    width: 100% !important;
}

@media screen and (max-width: 990px) {
    #toc-wrapper {
        width: 100% !important;
        position: static !important;
    }

    #toc {
        border: none !important;
    }

    #links-wrapper,
    #books-wrapper {
        width: 100% !important;
    }

    .quotes-wrapper>span:nth-child(even) {
        position: relative;
        left: 10%;
    }

    .quote {
        width: 90%;
    }
}